---
layout: default
---

<div id="home">

  <ul class="posts">
    {% for post in site.posts limit: 5 %}
      <div class="front">
        <div align="right"><a href="{{ post.url }}" title="Permanent link to: '{{ post.title }}'">{{ post.date | date_to_long_string }}</a></div>
        <h1>{{ post.title }}</h1>
        {{ post.content }}
        </br>
        </br>
      </div>
      <hr class="front">
      </br>
    {% endfor %}
  </ul>

  <h1>Older Posts</h1>
  <ul class="posts">
    {% for post in site.posts offset:5 %}
      <li><span class="post_date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

